[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "*"
boto3 = "*"
pydantic = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.9"
