[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pymongo[srv]" = "*"
python-dotenv = "*"
pydantic = "*"
pyjwt = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
thefuzz = "*"
mongomock = "*"
supabase = "*"
chalice = "*"
boto3 = "*"
sentry-sdk = "*"

[dev-packages]
pre-commit = "*"
moto = {extras = ["dynamodb"], version = "==4.2.13"}
coverage = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.9"
