[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "*"
boto3 = "*"
"pymongo[srv]" = "*"
python-dotenv = "*"
pydantic = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
moto = {extras = ["dynamodb"], version = "==4.2.13"}
pyjwt = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
thefuzz = "*"
sentry-sdk = {extras = ["chalice"], version = "*"}
pre-commit = "*"
ruff = "*"
mongomock = "*"

[dev-packages]

[requires]
python_version = "3.9"
