# Source: https://supabase.com/docs/guides/deployment/managing-environments?queryGroups=environment&environment=ci#configure-github-actions
# Description: Runs on PRs to verify migrations, CLI usage, etc.

name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Start Supabase local development setup
        run: supabase db start

        # TODO: we might not need this step (not using Supabase to generate TS types)
      - name: Verify generated types are checked in
        run: |
          supabase gen types typescript --local > types.gen.ts
          if ! git diff --ignore-space-at-eol --exit-code --quiet types.gen.ts; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff
            exit 1
          fi
